@keyframes lightEffect {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-image: url(/imagenes/mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  font-size: 16px;
}


/* Navegacion */
.nav-bg {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(16, 0, 0, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(16, 0, 0, 1);
  /* Agrega el efecto de luz */
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  animation: lightEffect 2s linear infinite;
}

.navegacion {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegacion ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navegacion a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: azure;
  font-size: 2rem;
  text-decoration: none;
  margin: 0;
}

.navegacion a:hover {
  color: white;
  text-shadow: 2px 2px 4px #ffffff;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.button {
  background: rgba(16, 0, 0, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-left: 1px solid rgba(16, 0, 0, 1);
  border-right: 1px solid rgba(16, 0, 0, 1);
  width: 100px; /* Define el ancho de los botones */
  height: 50px; /* Define el alto de los botones */
  margin: 0;
}

.button:first-child {
  margin-right: auto;
}

.button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.logo {
  border-right: 1px solid #000; /* Cambia el color según tus necesidades */
  height: 70px; /* Ajusta el tamaño del logo según tus necesidades */
  margin-right: auto;
  margin-left: 1rem; /* Añade un margen a la izquierda del logo */
}

.logo:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

 
/* LOGIN */
.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  padding: 2rem;
  color: #fff;
  width: 300px; 
  height: auto; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Sombra negra */
  display: flex; /* Flexbox para ordenar el contenido */
  flex-direction: column; /* Orientación vertical del contenido */
  justify-content: center; /* Centrar el contenido verticalmente */
  align-items: center; /* Centrar el contenido horizontalmente */
}

.login-form label,
.login-form input[type="text"],
.login-form input[type="password"],
.register-link,
.forgot-password-link {
  text-shadow: 1px 1px 2px #000; /* Sombra negra al texto */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%; /* Ancho del área de texto */
  margin-top: 0.5rem; /* Espacio entre el texto y el área de texto */
}

.login-form input[type="submit"],
.register-link {
  background: #fff; /* Fondo blanco */
  color: #000; /* Texto negro */
  border: none; /* Sin borde */
  padding: 0.5rem 1rem; /* Padding para darle tamaño */
  cursor: pointer; /* Cambiar el cursor a modo "mano" */
  transition: background 0.3s ease; /* Transición suave al cambiar el fondo */
  margin-top: 1rem; /* Espacio por encima del botón */
  display: inline-block; /* Para que los botones estén uno al lado del otro */
}

.login-form input[type="submit"]:hover,
.register-link:hover {
  background: #ddd; /* Cambiar el fondo al pasar el mouse */
}

.forgot-password-link {
display: block;
color: #fff;
text-decoration: none;
margin-top: 1rem;
transition: color 0.3s ease;
}

.forgot-password-link:hover {
color: #ddd;
}
