.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    padding: 2rem;
    color: #fff;
    width: 300px; /* Ajusta el ancho del formulario según tus necesidades */
    height: auto; /* Ajusta la altura del formulario según tus necesidades */
    animation: lightEffect 2s linear infinite;
  }
  .register-link,
.forgot-password-link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-top: 1rem;
}

.register-link:hover,
.forgot-password-link:hover {
  color: #ddd;
}