.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    padding: 2rem;
    color: #fff;
    width: 300px; 
    height: auto; 
    animation: lightEffect 2s linear infinite;
    border-radius: 10px; /* Añade bordes redondeados */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Añade sombra para dar profundidad */
}

.register-link,
.forgot-password-link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-top: 1rem;
  transition: color 0.3s ease; /* Añade transición para un cambio de color suave */
}

.register-link:hover,
.forgot-password-link:hover {
  color: #ddd;
}
