@keyframes lightEffect {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* Tamaño de fuente base */
}

body {
  background-image: url(mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  font-size: 1.4rem; /* Tamaño de fuente reducido de 16px a 14px */
}

/* Navegación */
.nav-bg {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(16, 0, 0, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(16, 0, 0, 1);
  /* Agrega el efecto de luz */
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  animation: lightEffect 2s linear infinite;
  z-index: 9999; /* Añadido para que la barra de navegación siempre esté arriba */
}

.navegacion {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegacion ul.menu {
  display: flex;
  justify-content: flex-start; /* Cambiado de flex-end a flex-start */
  margin: 0;
  padding: 0;
}

.navegacion a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem; /* Padding reducido de 0.8rem a 0.7rem */
  color: azure;
  font-size: 1.5rem; /* Tamaño de fuente reducido de 1.6rem a 1.5rem */
  text-decoration: none;
  margin: 0;
  width: 110px; /* Ancho reducido de 120px a 110px */
}

.navegacion a:hover {
  color: white;
  text-shadow: 2px 2px 4px #ffffff;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.button {
  background: rgba(16, 0, 0, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-left: 1px solid rgba(16, 0, 0, 1);
  border-right: 1px solid rgba(16, 0, 0, 1);
  height: 35px; /* Altura reducida de 40px a 35px */
  margin: 0;
}

.button:first-child {
  margin-left: auto; /* Añadido para mover el logo y el inicio a la derecha */
}

.button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.logo {
  border-right: 1px solid #000; /* Cambia el color según tus necesidades */
  height: 40px; /* Altura aumentada de 35px a 40px */
  margin-right: 1rem; /* Añade un margen a la derecha del logo */
}

.logo:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background: rgba(16, 0, 0, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(16, 0, 0, 1);
  /* Agrega el efecto de luz */
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  animation: lightEffect 2s linear infinite;
  flex-direction: row; /* Hace que el menú sea horizontal */
  height: 35px; /* Altura igualada a la de la barra de navegación */
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.logo-home {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Añadido para mover el logo y el inicio más a la izquierda */
}

