/* Establece la imagen de fondo de la página */
body {
  background-image: url('planeta.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Establece el color de fondo y la opacidad de la barra de navegación */
nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0.8;

  /* Establece la posición de la barra de navegación en la parte superior de la página */
  position: fixed;
  top: 0;

  /* Establece la dirección de la barra de navegación como vertical */
  flex-direction: column;

  /* Establece un borde negro de 1 píxel alrededor de los botones de la barra de navegación */
  border: 1px solid black;
}

/* Establece el color del texto en los botones de la barra de navegación cuando se pasa el cursor sobre ellos */
nav ul li:hover a {
  color: #fff;
}

/* Establece las reglas de estilo para la barra de navegación cuando la pantalla es de 768 píxeles o menos */
@media screen and (max-width: 768px) {
  /* Oculta los elementos de la barra de navegación que no se muestran en la versión móvil */
  .hidden {
    display: none;
  }

  /* Muestra el icono de hamburguesa en la versión móvil */
  .burger-icon {
    display: block;
  }

  /* Oculta los elementos de la barra de navegación en la versión móvil */
  .menu-items {
    display: none;
  }

  /* Muestra los elementos de la barra de navegación cuando se hace clic en el icono de hamburguesa */
  .menu-items.active {
    display: block;
  }
}

/* Establece las reglas de estilo para la barra de navegación cuando la pantalla es mayor a 768 píxeles */
@media screen and (min-width: 768px) {
  /* Establece la dirección de la barra de navegación como horizontal */
  nav {
    flex-direction: row;
  }

  /* Establece la barra de navegación para que siempre esté en la parte superior de la página */
  .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  /* Establece la barra de navegación para que siempre esté en la parte superior de la página */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  /* Establece cada botón de la barra de navegación como una caja con borde */
  .navbar li {
    border: 1px solid black;
  }
}
