/* Establece el color de fondo en negro */
body {
  background-color: black;
}

/* Establece el color de las letras en blanco */
body {
  color: white;
}

/* Agrega un efecto de brillo cuando el mouse está sobre el texto */
nav ul li:hover a {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
nav ul {
  display: flex;
  flex-direction: column;
}


/* Centra el navbar y lo fija en la parte superior */
nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Agrega padding a los elementos del menú */
nav ul li a {
  padding: 10px;
  border-right: 1px solid white;
}

/* Elimina la barra horizontal del último botón del menú */
nav ul li:last-child a {
  border-right: none;
}

/* Agrega un padding al contenedor */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}