---
import Componentes from "../components/Navbar.astro"


---


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GamingProyect</title>
	<link rel="stylsheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link rel="preload" href="estilos/estilos.css" as="style">
	<link href="estilos/estilos.css" rel="stylesheet">
</head>
<body>
	
		<Componentes />
	  
	  <section>
		
	  </section>
	
	
</body>
</html>