---
import Componentes from "../components/Navbar.astro"


---


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GamingProyect</title>
	<link rel="stylsheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link rel="preload" href="../estilos/Navbar.css" as="style">
	<link href="../estilos/Navbar.css" rel="stylesheet">
	<link href="../estilos/Login.css" rel="stylesheet">
</head>
<body>
	
		<Componentes />
	  
	  <section>
		<div class="login-form">
			<form action="/submit-login" method="post">
			  <label for="username">Username:</label>
			  <input type="text" id="username" name="username">
			  <label for="password">Password:</label>
			  <input type="password" id="password" name="password">
			  <input type="submit" value="Ingresar">
			</form>
			<a href="/register" class="register-link">Registrarse</a>
			<a href="/forgot-password" class="forgot-password-link">¿Has olvidado la contraseña?</a>
		  </div>
	  </section>
	
	
</body>
</html>