<div class="login-form">
    <form action="/submit-login" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <input type="submit" value="Ingresar">
    </form>
    <a href="/register" class="register-link">Registrarse</a>
    <a href="/forgot-password" class="forgot-password-link">¿Has olvidado la contraseña?</a>
  </div>