<div class="nav-bg sticky-top">
  
    
    <nav class="navegacion conteiner">
      <ul>
        <a href="#"class="button">Home</a>
        <a href="#"class="button">Equipos</a>
        <a href="#"class="button">Comunidades</a>
        <a href="#"class="button">Torneos</a>
      </ul>
   </nav>
</div>
