
<header class="header">
    <div class="logo-header">
      <img src="imagenes/sc2logo.png" alt="">
    </div>


<div class="nav-menu">
  <input type="checkbox" id="check">
<label for="check" class="checkboton">

  <i class="menu-iconos"><img src="imagenes/hamburguesa.svg" alt=""></i>
</label>


<ul>
    
  
    <li><a href="#"></href>Equipos</a></li>
    <li><a href="#"></href>Comunidades</a></li>
    <li><a href="#"></href>Torneos</a></li>
    <li><a href="#"></href>Contacto</a></li>
    <li><input type="search" id="buscador" name="buscador"> </li>
      
     
  </ul>
  
</div>

</header>

