---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
---

<div>
  <Astronav>
    
    <MenuItems class="hidden lg:flex">
      <ul>
        <li>Home</li>
        <li>Equipos</li>
        <li>Comunidades</li>
        <li>Torneos</li>
        
      </ul>
    </MenuItems>
  </Astronav>
</div>
