<div class="nav-bg sticky-top">
  
    
    <nav class="navegacion conteiner">
      <ul>
        <a href="/scr/pages/index.astro"class="button lugar ">Home</a>
        <a href="equipos.astro"class="button">Equipos</a>
        <a href="comunidades.astro"class="button">Comunidades</a>
        <a href="torneos.astro"class="button">Torneos</a>
      </ul>
   </nav>
</div>
