
<astro-navbar>
  <div class="nav-bg sticky-top">
    <nav class="navegacion container">
      <ul class="menu">
        <li class="logo-home">
          <img src="sc2logo.png" alt="Logo" class="logo">
          <a href="home" class="button lugar ">Home</a>
        </li>
        <li class="dropdown">
          <a href="#" class="button dropdown-toggle">Equipos</a>
          <div class="dropdown-menu">
            <a href="#">Norte America</a>
            <a href="#">Europa</a>
            <a href="#">Asia</a>
            <a href="#">Latam</a>
          </div>
        </li>
        <li>
          <a href="#" class="button">Comunidades</a>
        </li>
        <li>
          <a href="#" class="button">Torneos</a>
        </li>
      </ul>
    </nav>
  </div>
</astro-navbar>
