---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
---

<nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Equipos</a>
        <ul>
          <li><a href="#">Norte América</a></li>
          <li><a href="#">Europa</a></li>
          <li><a href="#">Asia</a></li>
        </ul>
      </li>
      <li><a href="#">Comunidades</a></li>
      <li><a href="#">Streamers</a></li>
      <li><a href="#">Torneos</a></li>
    </ul>
  </nav>